.addCarPage {
    margin-top: 200px;
    width: 100%;
    margin-bottom: 130px;
}
  
.addCarPageContainer {
    width: 100%;
    height: 100%;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 30px;
}

.formAdicionarCarro {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    gap: 10px;
}

.inputGeral {
    padding: 10px;
    font-size: 16px;
}

.botaoAddCar{
  background-color: transparent;  
  font-size: 14px;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 0;
}

.botaoAddCar:hover {
    background-color: darkred;
    color: white;
}