.addCarPage {
    margin-top: 200px;
    width: 100%;
    margin-bottom: 130px;
}
  
.addCarPageContainer {
    width: 100%;
    height: 100%;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 30px;
}

.formAdicionarCarro {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0;
}

.formAdicionarCarro>label {
    margin-bottom: 5px;
    margin-top: 20px;
}

.inputGeral {
    padding: 10px;
    font-size: 16px; 
    border: 2px solid black;
    border-radius: 5px;
    height: 35px;
}

.addBtn{
    background-color: black;
    color: white;
    margin: 50px auto;
    height: 30px;
    width: 200px;
}