.thirdPage {
  width: 100%;
}

.thirdPageFC {
  width: 100%;
  height: 100vh;
  padding: 150px 150px 0px 150px;
  position: relative;
}

.thirdPageSC{
  width: 100%;
  padding: 0px 150px 100px 150px;
  position: relative;
}

.tituloTP{
  padding-top: 20px;
  font-size: 30pt;
  position: absolute;
}

.detalhesCarro {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
    
.imagem {
  width: 70%;/*ocupa 70% da largura total do contentor pai sempre de forma proporcional*/
  height: auto;
  object-fit: cover;
}

.nomeCarro{
  font-size: 20pt;
}

.specificationCont{  
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.buttonContainer {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 85px 85px; 
  grid-template-rows: 30px 30px;
  gap: 10px;
}

.buttonContainer > div {
  position: relative;
}

.buttonContainer>:nth-child(3){
  grid-column: 1 / -1;
}

.btn{
  width: 100%;
  height: 100%;
}

.date{ 
  background-color: transparent;
}

.carBtn{
  color: white;
  background-color: black;
}

.dateInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.dateInput::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.erroCar{
  padding: 150px 150px 0px 150px;
}

// #calendarContainer {
//     width: 300px;
//     margin: 20px auto;
//     border: 1px solid #ddd;
//     border-radius: 10px;
//     overflow: hidden;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     font-family: Arial, sans-serif;
// }

// #calendarHeader {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: #007BFF;
//     color: white;
//     padding: 10px;
// }

// #calendarHeader button {
//     background: none;
//     border: none;
//     color: white;
//     font-size: 18px;
//     cursor: pointer;
// }

// #calendarGrid {
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
//     gap: 2px;
//     background-color: #f9f9f9;
//     padding: 10px;
// }

// #calendarGrid div {
//     text-align: center;
//     padding: 10px;
//     background: white;
//     border-radius: 5px;
//     cursor: pointer;
//     font-size: 14px;
// }

// #calendarGrid .disabled {
//     background: #f5a9a9; /* Cor das datas reservadas */
//     cursor: not-allowed;
//     color: #888;
// }

// #calendarGrid .available {
//     background: #d4edda; /* Cor das datas disponíveis */
//     cursor: pointer;
// }

// #calendarGrid div:hover:not(.disabled) {
//     background: #c8e6c9;
// }
