 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Archivo Narrow", sans-serif;
  }
  
  header {
    background-color: black;
    height: 80px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  .logotipo{
    position: absolute;
    left: 150px;
  }
  
  #logo{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
  }
  
  .menu>a{
    color: white;
    font-family: "Antonio", sans-serif;
    display: inline-block;
    margin: 20px;
    text-decoration: none;
  }
  
  .menu>a:hover {/*quando o rato está sobre os botões*/
    color: darkred;
  }
  
  .icones{
    position: absolute;
    right: 150px;
  }
  
  #perfil{ 
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
  }