.cabecalhoHP{
  background: rbga(0,0,0,1);
}

.cabecalhoGeral{
  background-color: black;
}
 
header {
  height: 80px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 0px;
}
  
.logotipo{
  position: absolute;
  left: 150px;
}
  
#logo{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
  
.menu{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.menu>a{
  color: white;
  margin: 15px;
  text-decoration: none;
  cursor: pointer;
}
  
.iconesContainer{
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: row;
  position: absolute;
  gap: 10px;
  right: 150px;
  z-index: -1;/*permite que possamos navegar através do header na mesma*/
}

.profileContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: "Archivo Narrow", sans-serif;
  align-items: center;
  color: white;
  gap: 10px;
}

.loginNome{
  font-size: 9pt;
  line-height: 10pt;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: -10px;
}

.icones{ 
  position: relative;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.opcoesCont{
  position: absolute;
  margin-top: 40px; 
  margin-right: 10px;
  display: none;
}

.opcoesCont>a{
  color: white;
  text-decoration: none;
}

.opcoes{
  width: 90px;
  height: 30px;
  background-color: black;
  border: 3px solid white;
  border-radius: 15px;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout{
  position: relative;
  top: -2px;
}


/*---------------------------------- Relativo à aba do carrinho ------------------------------*/
.cartBar{
  z-index: 10;
  width: 350px;
  background: darkred;
  position: fixed;
  inset: 0 auto 0 -350px; /*referente ao valor de top, right, bottom, left*/
  padding: 50px 40px; //top right bottom left
  display: grid;
  grid-template-rows: 70px 1fr 10px;
  transition: left 2s;
}

.cartBar.show{
  left: 0px;
  transition: left 2s;
}

.listCart{
  overflow: auto; /*caso o número de reservas exceda a altura da janela, cria-se um scroll*/
}

.listCart::-webkit-scrollbar{
  width: 0; /*o scroll funciona na mesma, mas a barra de scroll desaparece*/
}

.listaItem{
  width: 100%;
  height: 30%;
  color: black;
  margin-top: 20px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.cartaoZinho{
  margin-top: -20px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;  
  
}

.itemImg{
  height: 100%;
  width: 68%;
}

.imgAba{
  width:100%;
  height: 100%;
}

.textoAba{
  width: 32%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  font-size: 10pt;
}

.itemModelo{
  font-size: 12pt;
  width: 100%;
}

.itemMatricula{
  margin-bottom: 5px;
}

hr{
  border: 1px solid black;
} 