.cabecalhoHP {
  background: rbga(0, 0, 0, 1);
}

.cabecalhoGeral {
  background-color: black;
}

header {
  height: 80px;
  width: 100%;
  top: 0px;
  padding-left: 150px;
  padding-right: 150px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.logotipo {
  position: relative;
  height: 30px;
  width: auto;
}

.logo {
  height: 100%;
}

.menuContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.menu>a {
  color: white;
  margin: 15px;
  text-decoration: none;
  cursor: pointer;
}

.iconesContainer {
  position: relative;
}

.profileContainer {
  display: flex;
  align-items: center;
  color: white;
}

.loginNome {
  font-size: 9pt;
  line-height: 10pt;
  display: flex;
  flex-direction: column;
}

.icones {
  position: relative;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.opcoesCont {
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
  display: none;
}

.opcoesCont>a {
  color: white;
  text-decoration: none;
}

.opcoes {
  width: 90px;
  height: 30px;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout {
  position: relative;
  top: -2px;
}


/*---------------------------------- Relativo à aba do carrinho ------------------------------*/
.cartBar {
  z-index: 10;
  width: 350px;
  background: darkred;
  position: fixed;
  inset: 0 auto 0 -350px;
  /*referente ao valor de top, right, bottom, left*/
  padding: 50px 40px; //top right bottom left
  display: grid;
  grid-template-rows: 70px 1fr 10px;
  transition: left 2s;
}

.cartBar.show {
  left: 0px;
  transition: left 2s;
}

.listCart {
  overflow: auto;
  /*caso o número de reservas exceda a altura da janela, cria-se um scroll*/
}

.listCart::-webkit-scrollbar {
  width: 0;
  /*o scroll funciona na mesma, mas a barra de scroll desaparece*/
}

.listaItem {
  width: 100%;
  height: 30%;
  color: black;
  margin-top: 20px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.cartaoZinho {
  margin-top: -20px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;

}

.itemImg {
  height: 100%;
  width: 68%;
}

.imgAba {
  width: 100%;
  height: 100%;
}

.textoAba {
  width: 32%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  font-size: 10pt;
}

.itemModelo {
  font-size: 12pt;
  width: 100%;
}

.itemMatricula {
  margin-bottom: 5px;
}

hr {
  border: 1px solid black;
}