.firstSection{
  width: 100%;
  height: 100vh;
}

.videoInicial{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;/*centraliza o texto verticalmente*/
  justify-content: flex-start;
}

.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.sloganInicial {
  position: absolute; /*Posiciona o slogan sobre o vídeo*/
  top: 55%; /*Centraliza verticalmente*/
  left: 150px; 
  transform: translateY(-50%); /* Centraliza verticalmente*/
  z-index: 1; /* Garante que o slogan fique acima da imagem */
}

.slogan{
  color: white; /* Define a cor do slogan */
  font-size: 90pt; 
  font-weight: bold;
  line-height: 100pt;
}

#secondSection {//controla o sítio onde inicia a esta secção quando carregamos nela
  scroll-margin-top: 130px; 
}

#thirdSection{
  scroll-margin-top: 110px; 
}

.secondSection{
  height: fit-content;
  margin: 100px 0;
}

.textContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text{
  margin-left: 150px;
  width: 580px;
  height: 100%
}

.text>p>strong{
  color: darkred;
}

.checkthisout{
  width: 100%;
  height: 100%;
}

#titleTS{
  margin-left: 150px;
}

.painel{
  z-index: 5;
  display: grid;
  position: relative;
  justify-content: center;
  grid-template-rows: 300px;
  grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Colunas responsivas */
  grid-template-areas: 
  'primeiro segundo';
  gap: 40px;
  padding-right: 150px;
  padding-left: 150px;
}

.carro{
  color: inherit;
  color: black;
}

.thirdSection{
  margin-bottom: 130px;
}

.graficos{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 100px;
}

.graficoReservas{
  width: 200px;
  height: 200px;
  flex-shrink: 0;  //impede que o gráfico encolha
}

.graficoModelos{
  width: 400px;
  flex-shrink: 0;  //impede que o gráfico encolha
}