.profilePage {
    width: 100%;
    height: 100%
}

.profilePageContainer {
    width: 100%;
    padding: 150px 150px 100px 150px;
    position: relative;
}

.data {
    margin-bottom: 10px;
    color: darkred;
}

.balance {
    margin-top: 30px;
    margin-bottom: 10px;
    color: darkred;
}

.histReserv {
    position: relative;
    list-style: none;
    line-height: 20px;
}

.ultimo {
    margin-bottom: 20px;
}