.profilePage {
    width: 100%;
    height: 100vh;
}
  
.profilePageContainer {
    width: 100%;
    height: 100%;
    padding: 150px 150px 0px 150px;
    position: relative;
}

.data{
    margin-bottom: 10px;
}

.balance{
    margin-top: 30px;
    margin-bottom: 10px;
}