.secondPage{
  margin-top: 200px;
  width: 100%;
  margin-bottom: 130px;
}
  
.secondPageContainer{
  width: 100%;
  height: 100%;
}

#titleSP{
  margin-left: 150px;
}
  
  
/*define os itens que vão ocupar a grelha*/
.carro1 { grid-area: primeiro; }
.carro2 { grid-area: segundo; }
.carro3 { grid-area: terceiro; }
.carro4 { grid-area: quarto; }
.carro5 { grid-area: quinto; }
.carro6 { grid-area: sexto; }

.gallery{
  display: grid;
  justify-content: center;
  grid-template-rows: 450px 300px 450px 300px;
  grid-template-columns: repeat(2, 480px);/*repete 2 colunas cada uma com 480 de largura*/
  grid-template-areas: 
  'primeiro primeiro'
  'segundo terceiro'
  'quarto quarto'
  'quinto sexto';
  gap: 30px;
}

.imgGallery{
/*a largura e altura de cada imagem vai ser a das células da grelha onde estão inseridas*/
  width: 100%; 
  height: 100%;
  margin-right: 10px;
  margin-top: 20px;
}
  