.secondPage{
  margin-top: 200px;
  width: 100%;
  margin-bottom: 130px;
}
  
.secondPageContainer{
  width: 100%;
  height: 100%;
}

#titleSP{
  margin-left: 150px;
}
  
/*define os itens que vão ocupar a grelha*/
.carro1 { grid-area: primeiro; }
.carro2 { grid-area: segundo; }
.carro3 { grid-area: terceiro; }
.carro4 { grid-area: quarto; }
.carro5 { grid-area: quinto; }
.carro6 { grid-area: sexto; }

.gallery{
  padding-left: 150px;
  padding-right: 150px;
  display: grid;
  justify-content: center;
  grid-template-rows: 450px 300px 450px 300px;
  grid-template-columns: repeat(2, 47.5%);/*repete 2 colunas*/
  grid-template-areas: 
  'primeiro primeiro'
  'segundo terceiro'
  'quarto quarto'
  'quinto sexto';
  gap: 40px;
}

.imgGallery{
/*a largura e altura de cada imagem vai ser a das células da grelha onde estão inseridas*/
  width: 100%; 
  height: 100%;
  margin-right: 10px;
  margin-top: 20px;
  border: 1px solid black;
}

.legend{
  position: absolute;
  z-index: 2;
  font-family: "Antonio", sans-serif;
  font-size: 20pt;
}

/* o segundo C é de Carro*/
.altCC { margin-top: 30px; }/*antigo valor 255px*/
.altGC { margin-top: 70px; }/*antigo valor 405px*/

.imgPlus{
  position: absolute;
  z-index: 2;
  width: 27px;
  height: 27px;
}

/*P de Plus*/
.altCP { margin-top: 290px; margin-left: 360px; }
.altGP { margin-top: 440px; margin-left: 857px; }

.data {
  position: absolute;
  width: 65px;
  height: 27px;
  color: black;
  background-color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  border: 3px solid black;
}

/*B de Botão*/
.altCB { margin-top: 290px; margin-left: 390px; }
.altGB { margin-top: 440px; margin-left: 890px; }
  