* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: white;

    &:hover {
        color: darkred;
    }
}

@import './_register';
@import './_login';
@import './_homepage';
@import './_header';
@import './_footer';
