@charset "UTF-8";
/*download da fonte*/
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.textoGeral {
  font-family: "Archivo Narrow", sans-serif;
}

.tituloGeral {
  font-family: "Antonio", sans-serif;
}

.sobreEfeito:hover {
  color: darkred;
}

/*todos os div afetados pelo contentor que envolve apenas o form*/
.register_form div {
  margin-top: 10px;
  margin-bottom: 20px; /* Espaço entre os campos a preencher*/
  width: 30vw;
}

.inline-fields {
  display: flex; /* Alinha os elementos lado a lado */
  justify-content: space-between; /* Espaça os campos uniformemente */
  gap: 20px; /* Espaço entre os campos (opcional) */
  width: 100%; /* Faz com que ocupem a largura total do formulário */
}

.inline-fields div {
  margin: 0px;
  width: 50%;
}

.checkbox {
  display: flex;
  align-items: center;
}

.register_form input[type=checkbox] {
  width: auto; /* Deixa o checkbox com tamanho padrão */
  margin-right: 10px; /* Espaço entre o checkbox e o texto */
}

#botaoRegister {
  margin-top: 35px;
}

/*todos os div afetados pelo contentor que envolve apenas o form*/
.login_form form > div {
  margin-top: 10px;
  margin-bottom: 20px; /* Espaço entre os campos a preencher*/
  width: 30vw;
}

.linkContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.link {
  text-decoration: none;
  color: white;
}

#botaoLogin {
  margin-top: 50px;
}

.firstSection {
  width: 100%;
  height: 100vh;
}

.videoInicial {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /*centraliza o texto verticalmente*/
  justify-content: flex-start;
}

.video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.sloganInicial {
  position: absolute; /*Posiciona o slogan sobre o vídeo*/
  top: 55%; /*Centraliza verticalmente*/
  left: 150px;
  transform: translateY(-50%); /* Centraliza verticalmente*/
  z-index: 1; /* Garante que o slogan fique acima da imagem */
}

.slogan {
  color: white; /* Define a cor do slogan */
  font-size: 90pt;
  font-weight: bold;
  line-height: 100pt;
}

#secondSection {
  scroll-margin-top: 150px;
}

.secondSection {
  height: 580px;
  margin-top: 150px;
}

.textContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text {
  margin-left: 150px;
  width: 580px;
  height: 100%;
}

.title {
  font-size: 30pt;
  margin-bottom: 30px;
  color: black;
}

.thirdSection {
  height: 400px;
  margin-bottom: 130px;
}

.checkthisout {
  width: 100%;
  height: 100%;
}

#titleTS {
  margin-left: 150px;
}

.painel {
  display: flex;
  justify-content: center;
}

.imgPainel {
  width: 480px;
  height: 300px;
  margin-right: 10px;
  margin-top: 20px;
}

.secondPage {
  margin-top: 200px;
  height: 400px;
  width: 100%;
  margin-bottom: 130px;
}

.secondPageContainer {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 30pt;
  margin-bottom: 30px;
  color: black;
}

#titleSP {
  margin-left: 150px;
}

.gallery {
  display: flex;
  justify-content: center;
}

.imgGallery {
  width: 480px;
  height: 300px;
  margin-right: 10px;
  margin-top: 20px;
}

.cabecalhoHP {
  background: rbga(0, 0, 0, 1);
}

.cabecalhoGeral {
  background-color: black;
}

header {
  height: 80px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 0px;
}

.logotipo {
  position: absolute;
  left: 150px;
}

#logo {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.menu > a {
  color: white;
  display: inline-block;
  margin: 20px;
  text-decoration: none;
}

.icones {
  position: absolute;
  right: 150px;
}

#perfil {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
}

footer {
  position: relative;
  background-color: black;
  height: 30vh;
  width: 100%;
}

.conteudoFooter {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.conteudoFooter > ul {
  margin-left: 180px;
  font-size: 15px;
  list-style-type: none;
  line-height: 30px;
}

.conteudoFooter > ul > li {
  color: white;
}

.iconesContact {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px; /* Espaço entre os ícones */
  left: 150px;
}

.icoC {
  width: 15px;
  height: auto; /* Mantém a proporção da imagem */
}

.iconesMedia {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 150px;
  gap: 10px;
  margin-top: 60px;
}

.icoM {
  width: 25px;
  height: auto; /* Mantém a proporção da imagem */
}

.wrapper { /*contentor que engloba a imagem e o form*/
  display: flex;
  width: 100%;
  height: 100vh;
}

.imgSignUp {
  height: 100%; /*coloca a altura da janela do ecrã do pc*/
  width: 50%;
  display: flex;
  align-items: center; /*centraliza o texto verticalmente*/
  justify-content: flex-start;
  z-index: 1;
}

#imgSU {
  width: 100%; /*o contentor terá sempre a largura de metade do valor do ecrã*/
  height: 100%; /*o contentor terá sempre a largura de metade do valor do ecrã*/
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

#titulo {
  color: white;
  margin-bottom: 5px;
  font-size: 30pt;
}

.outContainer {
  background: black;
  width: 50%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%; /*o contentor terá sempre a largura de metade do valor do ecrã*/
  height: 100%;
  padding: 40px 30px;
}

.register_form, .login_form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /*Centraliza os campos do formulário*/
  width: 100%; /*Faz o formulário ocupar toda a largura do container*/
  max-width: 500px;
  max-height: 90%;
}

.register_form label, .login_form label {
  color: white;
  display: block; /*Caixa texto ocupa toda a linha e fica acima*/
  margin-bottom: 5px; /* Adiciona espaço entre o texto e a caixa*/
}

.register_form input, .login_form input {
  width: 100%; /* Faz com que os inputs ocupem toda a largura*/
  height: 35px;
  padding: 10px; /* Adiciona preenchimento dentro das caixas de texto*/
  background-color: #ededed;
  border: 1px solid #ccc; /* Borda padrão para os inputs */
  border-radius: 3px; /* Bordas arredondadas */
}

.botao {
  color: white;
  width: 45%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: darkred;
  border: none;
  padding: 10px;
  border-radius: 3px; /* Bordas arredondadas */
}/*# sourceMappingURL=main.css.map */