/*download da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

//correspondem ao tipo de fonte que corresponde aos títulos e restante texto
.textoGeral{
  font-family: "Archivo Narrow", sans-serif;
}

.tituloGeral{
  font-family: "Antonio", sans-serif;
}

/*este title é comum aos títulos das secções da homepage e products*/
.title{
  font-size: 30pt;     
  color: black;  
  margin-bottom: 30px;
}

.sobreEfeito:hover{
  color: darkred;
}


/*esta parte é comum aos carros expostos na homepage e no products*/
.imgCarro{
  position: relative;
/*a largura e altura de cada imagem vai ser a das células da grelha onde estão inseridas*/
  width: 100%; 
  height: 100%;
}

.legenda{
  position: absolute;
  margin-top: 20px;
}

.legend{
  font-size: 20pt;
}

.botaoGeral{
  background-color: transparent;  
  font-size: 14px;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 15px;
  cursor: pointer;
}

@import './_register';
@import './_login';
@import './_homepage';
@import './_products';
@import './_header';
@import './_footer';
@import './_comonLoginandRegister';
@import './_car';