/*download da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

//correspondem ao tipo de fonte que corresponde aos títulos e restante texto
.textoGeral{
  font-family: "Archivo Narrow", sans-serif;
}

.tituloGeral{
  font-family: "Antonio", sans-serif;
  font-weight: bold;
}

.sobreEfeito:hover{
  color: darkred;
}

@import './_register';
@import './_login';
@import './_homepage';
@import './_header';
@import './_footer';
